{#
/**
 * @file
 */
#}

{% set classes = classes ?? [
  'product-card',
  not node.isPublished() ? 'product-card--unpublished',
] %}


  <div class="product-full__inner add-to-cart">
    <div class="product-full__media">
      {{ content.field_product_images }}
    </div>
    <div class="product-full__content">
      <a{{ attributes.addClass(classes) }} href={{ url }}>
      <header class="product-full__header">
        {{ title_prefix }}
        <h1{{ title_attributes.addClass('product-full__title') }}>
          {{ label }}
        </h1>
        {{ title_suffix }}

        <div class="product-full__sku">{{ content.field_product_sku }}</div>
      </header>
      </a>

      <div class="product-full__price">
        {{ content.field_product_price }}
      </div>

      <div class="product-full__variants"
           data-acf-product={{ node.field_product_sku.value }}
      >
        {{ content.field_react_block }}
      </div>
    </div>
  </div>

